/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: #ffffff;
}

body {
  background-image: url("../img/PinDown.io__letsgtcooking_1767882718.gif");
  background-position: center 10%;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #000000;
}

button:hover>i {
  color: #000000;
}

button i {
  pointer-events: none;
  color: #000000;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #ffffff;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #ffffff;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

.descricao {
  margin-top: 20px;
  text-align: center;
}

.autor {
  font-size: 13px;
  color: #000000;
  margin-bottom: 6px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.links a {
  font-size: 13px;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
  font-style: italic;
  font-weight: bold;
}

.links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.todo-container,
.todo,
.container {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 20px;

  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.7);
  border: 1px solid rgb(247, 244, 244);

  animation: cardIn 0.5s ease;
}


@keyframes cardEnter {
  from {
    opacity: 0;
    transform: translateY(25px) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.todo-item,
.task,
li {
  background: rgb(255, 255, 255);
  padding: 12px 14px;
  border-radius: 12px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s ease;
  animation: itemIn 0.25s ease;
}

.todo-item:hover,
.task:hover,
li:hover {
  background: rgba(255, 255, 255, 0.12);
  transform: translateX(6px);
}

.todo-item:hover {
  background: rgb(255, 255, 255);
  transform: translateX(5px);
}

.todo-item {
  animation: itemIn 0.3s ease;
}

@keyframes cardIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes itemIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}






































/*▄█▀███▄▄████████████████████▄▄███▀█░
░█░░▀████████████████████████████░░█░
░░█▄░░▀████████████████████████░░░▄▀░
░░░▀█▄▄████▀▀▀░░░░██░░░▀▀▀█████▄▄█▀░░
░░░▄███▀▀░░░░░░░░░██░░░░░░░░░▀███▄░░░
░░▄██▀░░░░░▄▄▄██▄▄██░▄██▄▄▄░░░░░▀██▄░
▄██▀░░░▄▄▄███▄██████████▄███▄▄▄░░░▀█▄
▀██▄▄██████████▀░███▀▀▀█████████▄▄▄█▀
░░▀██████████▀░░░███░░░▀███████████▀░
░░░░▀▀▀██████░░░█████▄░░▀██████▀▀░░░░
░░░░░░░░░▀▀▀▀▄░░█████▀░▄█▀▀▀░░░░░░░░░
░░░░░░░░░░░░░░▀▀▄▄▄▄▄▀▀░░░░░░░░░░░░░░














by pedrolpw */